body{
    background-color: white;
    margin: 0;
}

main{
    height: calc(100vh - 150px);
}

.header-container{
    display: flex;
    position: relative;
    top: 0;
    height: 100px;
    background-color: yellow;
    align-items: center;
}

.header-container .header-title{
    width: 100%;
    text-align: center;
    margin: 0;
}

.footer-container{
    box-sizing: border-box;
    display: flex;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 50px;
    background-color: yellow;
    align-items: center;
    padding: 10px;
}

.footer-container .footer-title{
    width: 100%;
    text-align: left;
    font-size: 14px;
    margin: 0;
}

#container{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 30px;  
}

#calculator{
	width: 320px;
	height: 520px;
	background-color: #eaedef;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#result{
	height: 100px;
}

#previous{
	text-align: right;
	height: 20px;
	margin: 0 10px;
	font-size: 15px;
	color: #919191;
	box-sizing: border-box;
	padding-right: 10px;
}

#current{
	text-align: right;
	height: 60px;
	font-size: 30px;
	box-sizing: border-box;
	padding-right: 10px;
}

#keyboard{
	height: 400px;
}

.two{
	width: 130px !important;
}

.three{
	width: 150px !important;
}

.operator, .number, .output-operator{
	width: 50px;
	height: 50px;
	margin: 15px;
	float: left;
	border-width: 0;
	font-weight: bold;
	font-size: 30px;
}

.number{
    border: solid 2px;
}

.number, .operator, .output-operator{
	cursor: pointer;
}

.operator:active, .number:active, .output-operator:active{
	font-size: 30px;
}

.operator:focus, .number:focus, .output-operator:active{
	outline: 0;
}

.division{
	font-size: 20px;
	background-color: #20b2aa;
}

.multiplication{
	font-size: 20px;
	background-color: #ffa500;
}

.subtraction{
	font-size: 20px;
	background-color: #f08080;
}

.addition{
	font-size: 20px;
	background-color: #7d93e0;
}

.comparison{
	font-size: 20px;
	background-color: #9477af;
}

#delete{
	border: solid 2px;
}

#delete-all{
	border: solid 2px;
}